body {
    margin: 0;
    padding: 0;
    background-image: url('https://statics.indozone.news/content/2022/05/24/mnsd7vX/50-ide-nama-kedai-kopi-yang-unik-untuk-coffee-shop-kekinian40_700.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; 
 }
